<!doctype html>
<html class="no-js" lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{% block title %}Emplea{% endblock title %}</title>

    {%load static from staticfiles%}
    <link rel="stylesheet" href="{% static 'css/foundation.css'%}" />
    <link rel="stylesheet" type="text/css" href="{%static 'css/foundation.min.css'%}">
    <script src="{% static 'js/vendor/modernizr.js'%}"></script>
    {% block headscript %}
    {% endblock headscript %}
  </head>
  <body>
    
    <div class="row">
      <div class="large-12 columns panel">
        <h1><a href="/">Emplea.te</a></h1>
      </div>
    </div>


    <div class="row">
        {% block filtro %}

        {% endblock %}


    <div class="large-9 columns">
          {% block content %}

          {% endblock content %}
    </div>
        {% block aside %}

        {% endblock aside %}
    <footer class="row">
        <div class="large-12 columns"><hr/>
            <div class="row panel">
                {% block footer %}
                  <div class="large-6 columns">
                      <p>Ramon Caraballo © 2014-2015.</p>
                  </div>
                {% endblock footer %}
            </div>
        </div>
    </footer>

    </div>


    </div>

    <script src="{% static 'js/vendor/jquery.js' %}"></script>
    <script src="{% static 'js/foundation.min.js' %}"></script>
    <script>
      $(document).foundation();
    </script>
  {% block js %}
  {% endblock %}

  </body>
</html>


