{% extends "base.html" %}

{% block title %}
	Emplea | Publicar Oferta
{% endblock title %}


{% block content %}
<form method='POST'> {% csrf_token %}
 
  <h3>Info. Sobre la Oferta</h3>
  <hr>

  <h4><strong>Paso 1 </strong>
      <span class='subheader'>Empresa y el Puesto</span></h4>
  <div class="row">
    
    <div class="large-12 columns">
      <label>Titulo:</label>
      {{ form.titulo }}
      {{ form.titulo.errors.as_text }}
    </div>

    <div class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">

      <div class="large-6 columns">
        <label>Empresa
          <span>{{form.empresa}}</span>
          <span>{{form.empresa.errors.as_text}}</span>
        </label>
      </div>

      <div class="large-6 columns">
        <label>URL
          <span>{{form.url}}</span>
          <span>{{form.url.errors.as_text}}</span>
        </label>
      </div>

      <div class="large-6 columns">
        <label>Lugar:
            <span> {{form.lugar}} </span>
            <span> {{form.lugar.errors.as_text}} </span>
        </label>
      </div>

    </div>
    <hr>

    <h3><strong>Paso 2</strong><span class='subheader'> Perfil del
        Puesto</span></h3>

    <div class="row">
      <div class="large-12 columns">
        <label>Descripcion del puesto</label>
          {% load wysiwyg %}
          {% wysiwyg_setup %}
              {{form.descripcion}}
          {% wysiwyg_editor 'editor' %}
          
          {{form.descripcion.errors.as_text}}
      </div>
    </div>
    <br>

    <div class="row">
      <div class="large-6 columns">
        <label>Categoria:
          {{form.categoria}}
        </label>
      </div>
    </div>


    <hr>

    <h3><strong>Paso 3</strong><span class="subheader"> Como
        Aplicar</span></h3>
    <h5 class="subheader">Describe como las personas pueden aplicar a esta oferta</h5>

    <div class="row">
      <div class="large-12 columns">

          {{form.comoAplicar}}
          {{form.comoAplicar.errors.as_text}}

      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">

            {{ form.captcha }}
            {{ form.captcha.errors.as_text }}

      </div>
    </div>
      <input type='submit' value='Publicar' class='button success large-12 columns'>
    </div>
</form>

{% endblock content %}

{% block js %}
<script type="text/javascript">
CKEDITOR.config.toolbar = [

        [ 'Bold','Italic','Underline','Strike','Subscript','-','RemoveFormat', 'NumberedList','BulletedList','-',
            'Outdent','Indent','-','Blockquote','JustifyLeft','JustifyCenter','JustifyRight','JustifyBlock' ],
] ;
</script>
{% endblock %}

