{% extends "base.html" %}}
<!-- -- >
 
{% block title %}

	Emplea.te | Feed

{% endblock title %}

<!-- -- >

{% block filtro%}
    <dl class="sub-nav">
      <dt>Filtrar:</dt>
      <dd class="active cat"><a href="" >ALL</a></dd>
      {%for categoria in categorias %}
      <dd class="cat" id="{{categoria.id}}">
          <a>{{categoria|capfirst}}</a>
      </dd>
      {%endfor%}
    </dl>
{% endblock%}



{% block content %}

        <div id="datosAjax">
            <div class="row" >
                <div class="large-9 columns">

                    {% for oferta in ofertas  %}
                        <h4>
                            <a href='
                            {% url 'ofertas:listar' oferta.slug oferta.pk %}'>
                                <strong>{{oferta.titulo}}</strong>
                            </a>
                        </h4>
                        <p class="subheader">
                            {{oferta.lugar}} @ {{oferta.empresa}}
                        </p>
                        <br/>
                    {% endfor %}
                </div>
            </div>
        </div>

                     {# Crea la paginacion si hay mas de 10 ofertas en esa pag #}

    {% if is_paginated %}


          <ul class="pagination">
            {% if page_obj.has_previous %}
              <li class="arrow"><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
            {% else %}
              <li class="arrow unavailable"><a href="">&laquo;</a></li>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
              {% ifequal num page_obj.number %}
                <li class="current disabled"><a href="">{{ num }}</a></li>
              {% else %}
                <li><a href="?page={{ num }}">{{ num }}</a></li>
              {% endifequal %}
            {% endfor %}

            {% if page_obj.has_next %}
              <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
            {% else %}
              <li class="disabled"><a href="">&raquo;</a></li>
            {% endif %}
          </ul>


    {% endif %}
{% endblock content %}


                {# Bloque ASIDE a la DERECHA #}

{%block aside%}
    <aside class="large-3 columns right">
           <div >
               <a class="button success expand " href="
               {% url 'ofertas:nueva_oferta' %}">
                   Publicar Oferta
               </a>
            </div>

        <h5>Buscar</h5>
        <div class="large-12 columns">
            <div class="row collapse">
                <div class="small-10 columns">
                    <input type="text" placeholder="Django">
                </div>
                <div class="small-2 columns">
                    <a href="#" class="button postfix">Go!</a>
                </div>
            </div>
        </div>
      <hr>
        <div class="panel">
            <h5>NOTA</h5>
            <p>El input buscar aun no esta Funcionando</p>
        </div>

    </aside>
{%endblock%}




{% block js %}
<script>
        $('.cat').on('click', clickOnCat);
        function clickOnCat(){
            var cat = $(this).attr('id');

            $('.cat').removeClass('active');

            $(this).addClass('active');

             $.ajax({
                data : {'idcategoria' : cat},
                url : '/ajax/',
                type : 'get',

                success: function (data){
                    var htmlAjax = '';
                    for (var i = 0; i < data.length; i++){
                        htmlAjax += '<div class="row"><div class="large-12 ' +
                                'columns"><a href=" "><strong>'+
                                data[i]
                                .fields["titulo"] +'</strong></a></div></div><hr>';

                    }
                    $('#datosAjax').html(htmlAjax);

                }
            });
        };

</script>
{% endblock %}