{% extends "base.html" %}

{% block title %}
	OFERTA
{% endblock title %}

{% block content %}

<div class="row">
    <div class="large-12 columns">

        <h2><strong>{{oferta.titulo}}</strong></h2>
        <h4>{{oferta.empresa}}</h4>
        <a href='{{ oferta.url }}'>{{oferta.url}}</a>

        <hr>
        {{oferta.descripcion|safe }}
    </div>

    <div class="large-12 columns">

        <h3 class="subheader">Como aplicar a la oferta</h3>
        <div class="panel">
            <p>{{oferta.comoAplicar}}</p>
        </div>
    </div>

</div>
	
{% endblock content %}

{% block aside %}
    <div class="large-3 columns right">
        <div>
            <h6>Ofertas Similares</h6>
            <hr/>
            {% for similar in similares %}
                <p>
                    <a href="/oferta/{{ similar.slug }}/{{ similar.pk }}">
                    {{ similar.titulo |slice:'10' }}...</a>
                </p>
            {% endfor %}
        </div>

    </div>

{% endblock aside %}